
{% extends "userdata.html" %}

{% block form %}

{% if collectives %}
    <link rel="stylesheet" href="/static/css/jquery-ui.1.12.1.css">
    <script src="/static/lib/jquery-3.3.1.min.js"></script>
    <script src="/static/lib/jquery-ui.1.12.1.min.js"></script>

    <script>
      $( function() {
        var availableCollectives = {{ collectives|safe }};
        $( "#attrib_input" ).autocomplete({
          source: availableCollectives
        });
      } );
    </script>
{% endif %}


<span class="attrib_name">{{ _("Edit") }} {{ request.form.attrib }}</span>
<br />

<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input id="attrib_input" type="text" name="value" value="{{ request.form.value }}">
    
    <input class="btn btn-default" type="submit" value="{{ _('Save') }}">
    <a href="/add-user/{{ user.id }}" class="button">{{ _("Cancel") }}</a>
</form>

{% endblock %}
