{% extends "base.html" %}


{% block content %}
<div style="font-size: 1.5em">{{ _("Edit profile") }}</div>
{% if can_manage %}
    <span class="hint">{{ dn }}</span>
{% endif %}
<div class="row">
    <div class="four columns">
        <span class="attrib_name">{{ _("Username") }}</span>
        <br />{{ attribs.get_attr_values('uid')[0] }}
    </div>
    <div class="four columns">
        <span class="attrib_name">{{ _("Name") }}</span>
        {% if can_edit %}
            <a href="/modify/{{ dn }}/cn">{{ _("edit") }}</a>
         {% endif %}
        <br />{{ attribs.get_attr_values('cn')[0] }}
    </div>
    <div class="four columns">
        <span class="attrib_name">{{ _("Surname") }}</span>
        {% if can_edit %}
            <a href="/modify/{{ dn }}/sn">{{ _("edit") }}</a>
        {% endif %}
        <br />{{ attribs.get_attr_values('sn')[0] }}
    </div>
</div>

<div class="row">
    <div class="four columns">
        <span class="attrib_name">{{ _("Email") }}</span>
        {% if can_edit or can_manage %}
            <a href="/modify/{{ dn }}/mail">{{ _("edit") }}</a>
        {% endif %}
        <br />{{ attribs.get_attr_values('mail')[0] }}
    </div>
    <div class="four columns">
        <span class="attrib_name">{{ _("Fullname") }}</span>
        <br />{{ attribs.get_attr_values('displayName')[0] }}
    </div>
    <div class="four columns">
        <span class="attrib_name">{{ _("Collective") }}</span>
        {% if is_admin %}
            <a href="/modify/{{ dn }}/o">{{ _("edit") }}</a>
        {% endif %}
        <br />
        {% if can_manage_collective %}
            <a href="/group/{{ primary_collective_dn }}">{{ attribs.get_attr_values('o')[0] }}</a>
        {% else %}
            {{ attribs.get_attr_values('o')[0] }}
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="four columns">
        <span class="attrib_name">{{ _("Avatar") }}</span>
        {% if can_edit %}
            <a href="/change-photo/{{ dn }}">{{ _("edit") }}</a>
        {% endif %}
        <br /><img src="data:image/jpeg;base64,{{ attribs.get_attr_values('jpegPhoto')[0] }}" />
    </div>
    <div class="four columns">
        <span class="attrib_name">{{ _("Language") }}</span>
        {% if can_edit %}
            <a href="/modify/{{ dn }}/preferredLanguage">{{ _("edit") }}</a>
        {% endif %}
        <br />
        {{ config['LANGUAGES'][attribs.get_attr_values('preferredLanguage')[0]].decode("utf-8") }}
    </div>
    <div class="four columns">
        <span class="attrib_name">{{ _("Quota") }}</span>
        {% if can_manage %}
            <a href="/modify/{{ dn }}/pager">{{ _("edit") }}</a>
        {% endif %}
        <br />
        {{ attribs.get_attr_values('pager')[0] }}
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <span class="attrib_name">{{ _("Short biography") }}</span>
        {% if can_edit %}
            <a href="/modify/{{ dn }}/description">{{ _("edit") }}</a>
        {% endif %}
        <br />{{ attribs.get_attr_values('description')[0] }}
    </div>
</div>

{% if websites %}
    {% if session['username'] == dn %}
        <span class="attrib_name">{{ _("Your websites") }}</span>
    {% else %}
        <span class="attrib_name">{{ _("Websites") }}</span>
    {% endif %}
    {% for website in websites %}
        <br /><a href="{{ website }}">{{ website }}</a>
    {% endfor %}
{% endif %}

{% if groupsOfNames %}
    <br />
    {% if session['username'] == dn %}
        <span class="attrib_name">{{ _("Your groups") }}</span>
    {% else %}
        <span class="attrib_name">{{ _("Groups") }}</span>
    {% endif %}
    {% for groupOfNames in groupsOfNames %}
        <br /><a href="/group/{{ groupOfNames }}">{{ groupOfNames }}</a>
    {% endfor %}
{% endif %}


{% block form %}{% endblock %}
{% endblock %}
