{% extends "base.html" %}
{% block content %}

<style>
input {margin-bottom:0px;}
td { padding: 6px 15px; }
</style>

{% if collectives|length > 1 %}

    <div style="font-size: 1.5em">{{ _("Group management") }}</div>

    {{ _("Manage groups for:") }}
    <select id="collective_selector" onChange="window.location=/manage-groups/+this.value">
    {% for dn, rdn in collectives.iteritems() %}
        {% if dn == collective_dn %}
        <option value="{{ dn }}" selected=True>{{ rdn }}</option>
        {% else %}
        <option value="{{ dn }}">{{ rdn }}</option>
        {% endif %}
    {% endfor %}
    </select>
    
{% endif %}

<div style="font-size: 1.5em">
    {{ collective_rdn }}
    {% if canManage %}
    <a href="/group/{{ collective_dn }}" title="{{ _('Collective members') }}"><i class="fa fa-users" aria-hidden="true"></i></a>
    {% endif %}
</div>

    {% if canManage %}
        <br />
        <a class="button" href="/create-group/{{ collective_dn }}">{{ _("Create new group") }}</a>
    {% endif %}
    
<table>
  <thead>
    <tr>
      <th>{{ _("Group") }}</th>
      <th>{{ _("Description") }}</th>
      <th>{{ _("Members") }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for dn, values in sub_groups.iteritems() %}
        <tr>
        <td>{{ values['rdn'] }}</a></td>
        <td>{{ values['description'] }}</td>
        <td>{{ values['member_count'] }}</td>
        <td><a href="/group/{{ dn }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
