{% extends "base.html" %}

{% block content %}

<h2>{{ _("Please login") }}</h2>

<form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="text" placeholder="username" name="username" value="{{request.form.username }}">
    <br />
    <input type="password" placeholder="password" name="password" value="{{request.form.password }}">
    <br />
    <input class="login-btn btn btn-default " type="submit" value="Login">
</form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="login-error">
            {% for message in messages %}
                <div><i class="fa fa-frown-o" aria-hidden="true"></i> {{ message | safe }}</div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <a href="/recover-password">{{ _("Forgotten your password?") }}</a>

{% endblock %}
