{% extends "base.html" %}
{% block content %}

{% if group_type=="service" %}
    <div style="font-size: 1.5em">{{ _("Services you manage") }}
    {% if session['admin'] %}
        <a href="/create-group/{{ config['SERVICE_OU_DN'] }}" title="{{ _("Add group") }}">
            <i class="fa fa-plus-square" aria-hidden="true"></i>
        </a>
    {% endif %}
    </div>
    <p>
        <br />
        {{ _("service_management_explained") }}
    </p>
    {{ _("Grant or deny people access to these services") }}
    <br />

    {% for dn, rdn in groups.iteritems() %}
        <a href="/group/{{ dn }}">{{ rdn }}</a>
        <span class="hint">{{ dn }}</span>
        <br />
    {% endfor %}
{% endif %}


{% if group_type=="collective" %}
    <div style="font-size: 1.5em">{{ _("Collectives you manage") }}
    {% if session['admin'] %}
        <a href="/create-group/{{ config['COLLECTIVE_OU_DN'] }}" title="{{ _("Add group") }}">
            <i class="fa fa-plus-square" aria-hidden="true"></i>
        </a>
    {% endif %}
    </div>
    <p>
        <br />
        {{ _("collective_management_explained") }}
    </p>
    {{ _("Add or remove people from these collectives") }}
    <br />

    {% for dn, rdn in groups.iteritems() %}
        <a href="/group/{{ dn }}">{{ rdn }}</a>
        <span class="hint">{{ dn }}</span>
        <br />
    {% endfor %}
{% endif %}

{% if group_type=="collectiveGroups" %}
    <div style="font-size: 1.5em">{{ _("Groups in %s" % collectiveName) }}</div>
    {% if isManager %}
        <p>
            <br />
            {{ _("collective_management_explained") }}
        </p>
        <a class="button" href="/create-group/{{ collectiveDN }}" title="{{ _("Add group") }}">
            {{ _("Create new group") }}
        </a>
        <br />
        {{ _("Add or remove people from these groups") }}
        <br />
    {% endif %}


    {% for dn, rdn in groups.iteritems() %}
        <a href="/group/{{ dn }}">{{ rdn }}</a>
        <span class="hint">{{ dn }}</span>
        <br />
    {% endfor %}
{% endif %}

{% endblock %}
