{% extends "base.html" %}
{% block content %}

<p style="font-size: 1.3em">{{ _("Hello") }} {{ user.name }},</p>

<p style="font-size: 1.2em">{{ _("Thank you for signing up at Commons Cloud") }}.</p>

<p>
    <ol style="font-size: 1.3em">
    <li>{{ _("We sent you an email to comfirm your email address") }}.
        {% if user.validated_mail %}
            <i class="fa fa-check-square" style="color:#00C957" aria-hidden="true"></i>
        {% else %}
            {{ _("(check spam)") }} <i class="fa fa-clock-o" style="color:#FF8000" aria-hidden="true"></i>
        {% endif %}
    </li>
    <li>{{ _("We create your account") }}.
        {% if user.exported %}
            <i class="fa fa-check-square" style="color:#00C957" aria-hidden="true"></i>
        {% elif user.validated_mail %}
            {{ _("Please be patient. This might take one or two days.") }}. <i class="fa fa-clock-o" style="color:#FF8000" aria-hidden="true"></i>
        {% endif %}
    </li>
    <li>{{ _("You receive an e-mail to set your password") }}.
        {% if user.activated %}
            {{ _("Your account is activated") }}.
            <i class="fa fa-check-square" style="color:#00C957" aria-hidden="true"></i>
        {% endif %}
    </li>
    </ol>
</p>

<p style="font-size: 1.2em">
{% if user.activated %}
    <span style="font-size: 1.2em">{{ _("Welcome") }}!</span>
    <br />
    {{ _("Your username is") }}: <b>{{ user.uid }}</b>
    <br />
    {{ _("Your password is") }}:
        <span style="font-size: 0.7em">
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        </span>
    <br />
    <br />
    {% if urls %}
        <span style="font-size: 1.2em">{{ _("You may login here") }}:</span>
        <br />
        {% for url in urls %}
            <a href="{{ url }}">{{ url }}</a>
            <br />
        {% endfor %}
        <br />
    {% endif %}
    {{ _("You can manage your user profile here") }}
    <br />
    <a href="{{ config['THIS_URL'] }}/profile">{{ config['THIS_URL'] }}/profile</a>
{% else %}
    {{ _("The whole process shouldn't take more than a day or two") }}.
    <br />
    {{ _("Kind regards") }}.
{% endif %}
</p>

{% endblock %}
