{% extends "base.html" %}
{% block content %}

{% from "_formhelpers.html" import render_field %}

<h2>
{{ _("Recover password") }}
</h2>

<form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    
    <div class="row">
        <div class="columns six">
              <dl>
                {{ render_field(form.mail) }}
              </dl>
        </div>
    </div>
    <input class="login-btn btn btn-default" type="submit" value="{{ _('Recover password') }}">
</form>

{% endblock %}
