{% extends "base.html" %}
{% block content %}

{% from "_formhelpers.html" import render_field %}

<link rel="stylesheet" href="/static/css/jquery-ui.1.12.1.css">
<script src="/static/lib/jquery-3.3.1.min.js"></script>
<script src="/static/lib/jquery-ui.1.12.1.min.js"></script>

<script>
  $( function() {
    var availableCollectives = {{ collectives|safe }};
    $( "#primary_collective" ).autocomplete({
      source: availableCollectives
    });
  } );
</script>

<style>
    label[for=accept_conditions] { display:inline }
</style>
<h2>{{ _("Sign up") }}!</h2>

{{ _("register_page") }}

<form method=post>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="row">
        <div class="columns six">
              <dl>
                {{ render_field(form.name) }}
                {{ render_field(form.surname) }}
                {{ render_field(form.language) }}
                {{ render_field(form.short_bio) }}
              </dl>
        </div>
        <div class="columns six">
              <dl>
                {{ render_field(form.uid) }}
                {{ render_field(form.mail) }}
                {{ render_field(form.confirm_mail) }}
                {{ render_field(form.primary_collective) }}
              </dl>
        </div>
    </div>
    
    <div class="row">
        <div class="columns twelve">
        {% if form.accept_conditions.errors %}
            <ul class=form-errors>
            {% for error in form.accept_conditions.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {{ form.accept_conditions() }} {{ form.accept_conditions.label }}
        </div>
    </div>        
    <input type=submit value=Register>
</form>
{{ _("Already got an account and") }} <a href="/recover-password">{{ _("Forgotten your password?") }}</a>

{% endblock %}
